{% extends '_base.html' %}
{% block title %}{% if edit %}Upravit hřbitov{% else %}Přidat hřbitov{% endif %}{% endblock %}
{% block content %}
<h1>{% if edit %}Upravit hřbitov{% else %}Přidat hřbitov{% endif %}</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.nazev.label }} {{ form.nazev(class_='form-control') }}</div>
    <div class="mb-3">{{ form.adresa.label }} {{ form.adresa(class_='form-control') }}</div>
    {{ form.submit(class_='btn btn-primary') }}
</form>
{% endblock %}
